@font-face {
  font-family: "Lato";
  font-weight: 300;
  src: url("fonts/Lato-Light.ttf"); }

@font-face {
  font-family: "Lato";
  font-weight: 400;
  src: url("fonts/Lato-Regular.ttf"); }

@font-face {
  font-family: "Lato";
  font-weight: 600;
  src: url("fonts/Lato-Bold.ttf"); }


.body {
  font-family: 'Lato', sans-serif;
}
/*.App {*/

  /*text-align: center;*/
/*}*/

.header {
  /*background-color: #222;*/
  /*padding: 20px;*/
  background-color: #373737;
  /*position: absolute;*/
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: block;
  position: relative;
  height: auto;
}

/*.App-title {*/
  /*font-size: 1.5em;*/
/*}*/

/*.App-intro {*/
  /*font-size: large;*/
/*}*/

/*@keyframes App-logo-spin {*/
  /*from { transform: rotate(0deg); }*/
  /*to { transform: rotate(360deg); }*/
/*}*/
.btn-registration{

}
.registrationform{
  max-width: 350px;
  position: absolute;
  top: 20px;
}
.menu-ul{
  display: flex;
  list-style-type: none;
  text-decoration: none;
  color: black;
}
.menu-ul li{
  margin-right: 78px;
  text-decoration: none;

}
.menu-ul li a{
  color: white;
  text-decoration: none;
  font-weight: 300;
  font-size: 20px;

}
.menu-ul li a:hover{
  color: cornflowerblue;


}
.menu-ul li:last-child{
  margin-right: 0px;
}
.input-reg{
  margin-bottom: 5px;
}
.wallet-app .container-fluid{
  padding-right: 0px;
  padding-left: 0px;
}
ul.menu-ul{
  -webkit-padding-start: 0px;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-top: 10px;
}

.btn-registration button {
  margin: 0 auto;
  color: #00e092;
  background-color: rgba(0,0,0,0);
  border-color: #00e092;
  font-size: 18px;
  box-shadow: none;
}
.btn-registration .btn:hover{
  background-color: rgba(0,0,0,0.1);

}
body{
  padding-right: 0;
  padding-left: 0;
}
.cont-marg{
  padding: 0;
}

.about-us .thumbnail {
  margin: auto;
  text-align: center;
  /*opacity: 0;*/
  -webkit-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in;
}
.about-us {
  min-height: auto;
  float: right;
  padding: 83px 0 153px;
  position: relative;
  display: block;
  margin-right: 18px;
}

@media (min-width: 992px){
  .about-us .thumbnail img {
    margin: auto;
    width: 90px;
    height: 90px;
    display: block;
  }
  .pure-u-lg-1-5{
    display: inline-block;
    padding: 23px;
  }
}
@media (max-width: 991px) {
  .about-us .thumbnail img {
    margin: auto;
    width: 80px;
    height: 80px;
    display: block;
  }
  .pure-u-lg-1-5{
    /*display: inline-block;*/
    padding: 23px;
  }
}

